!!!5
html
  head
    script(src = '/public/video.js')
    link(rel = 'stylesheet', href = '/public/css/foundation.css')
    link(rel = 'stylesheet', href = '/public/css/video-js.css')
    link(rel = 'stylesheet', href = '/public/css/style.css')
  body
    #header.row
      #searchText.small-4.columns
        span.title Search AssObsessed:
      #search.small-4.columns
        input
      div.small-4.columns
    div.row
      #video.small-8.small-centered.columns
        video.video-js.vjs-default-skin(width = "640", height = "480", data-setup='{"controls": true, "autoplay":false,"preload":"auto"}')
          source(src = "http://vjs.zencdn.net/v/oceans.mp4", type = "video/mp4")
    script(src = '/public/js/vidConfig.js')
