!!!5
html
  head
    script(src = '/public/video.js')
    link(rel = 'stylesheet', href = '/public/css/foundation.css')
    link(rel = 'stylesheet', href = '/public/css/video-js.css')
  body
    #header.row
      #searchText.small-4.columns
        p Under construction.
        //span.title Search AssObsessed:
      #search.small-4.columns
        //input
      div.small-4.columns
    //div.row
    //  #video.small-8.small-centered.columns
    //    video.video-js.vjs-default-skin(width = "640", height = "480", data-setup='{"controls": true, "autoplay":false,"preload":"auto"}')
    //      source(src = "cdn.assobsessed.com/~/video/public/newv/ama10full.mp4", type = "video/mp4")
    //script(src = '/public/js/vidConfig.js')
